*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #252525;
}

.board{
    width: calc(70px*8);
    height: calc(70px*8);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    box-shadow: 0 0 16px white;
}

.board img{
    width: 48px;
}
.app{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cell{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black{
    background-color: #494949;
}
.white{
    background-color: #b8b8b8;
}
