*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #252525;
}

.board{
    width: calc(70px*8);
    height: calc(70px*8);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    box-shadow: 0 0 16px white;
}

.board img{
    width: 48px;
}
.app{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cell{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black{
    background-color: #494949;
}
.white{
    background-color: #b8b8b8;
}
.selected {
    background-color: rgba(255, 225, 180, 0.83);
}

.available {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    animation: activeCell 2.5s infinite;
}

.availableFigure{
    animation: activeFigureCell 2.5s infinite;
}

@keyframes activeCell {
    50%{background-color: lightgreen;}
}

@keyframes activeFigureCell {
    50%{background-color: rgba(255, 114, 114, 0.66);}
}